body 
		{
			padding-top: 5%;
			font-size: 30pt;
			font-family: Times New Roman, cursive;
			background-color: #fef6dd;
		}
		div
		{	
			color:#2f24a9
		}				
		h3   
		{
			color: blue;
		}
		h4   
		{
			color:#3399ff;;
		}
		label 
		{
			color: #B4886B;
			font-weight: bold;
			width: 150px;
		}
		button
		{
			font-size: 16px;
		}
